.login-container{
    height: 100vh;
    
    width: 100%;
    justify-content: center;
    align-items: center;
}
.login-submit-btn{
    width:345px;
}
.login-card-continer{
    width: 500px;
}
.login-label-names{
    color: #000;
}
.login-error-msg{
    font-size: 20px;
    font-weight: 300;
    color:red;
}
.login-labels{
    color: #000;
}
.login-form-card{
  width: 100%;

  border-radius: 15px;
}